<launch>
    
    <include file="$(find zadarlabs_arm_ros1)/launch/zprime.launch">
        <arg name="run_rviz" value="false"/> 
    </include>
   

    <include file="$(find mav_sensors_ros)/launch/sensors.launch">
        <arg name="baro_on" value="false"/>
        <arg name="cam_on" value="false"/>
        <arg name="radar_on" value="true"/>
        <arg name="radar_trigger" value="false"/>
        <arg name="imu_on" value="true"/>
        <arg name="imu_filter_on" value="true"/>
    </include>

    <!-- ROS Bag recording using record_bag.sh -->
    <arg name="record" default="false"/>
    <arg name="bag_name" default="my_bag"/>
    <group if="$(arg record)">
        <node pkg="zadarlabs_arm_ros1" type="record_bag.sh" name="rosbag_record" 
        args="$(find zadarlabs_arm_ros1)/bag/$(arg bag_name) $(arg bag_name)" output="screen"/>
    </group>
</launch>