<launch>
    <!-- Arguments to be passed -->
    <arg name="num_radar_sensors" default="1"/>
    <arg name="radar_type" default="zprime"/>
    <arg name="radar_serial_number" default="0225CCW002"/>
    <arg name="radar_mode" default="1"/>
    <arg name="radar_enable_viewer" default="false"/>
    <arg name="radar_enable_logging" default="false"/>
    <arg name="radar_override_timestamp" default="on"/>

    <!-- Launch the radar node with passed arguments -->
    <node pkg="zadarlabs_arm_ros1" type="run_radar.sh" name="zadarlabs_zprime" output="screen"
        args="$(arg num_radar_sensors) $(arg radar_type) $(arg radar_serial_number) $(arg radar_mode) 
        $(arg radar_enable_viewer) $(arg radar_enable_logging) $(arg radar_override_timestamp)"/>

    <!-- Launch RViz with the saved config -->
    <arg name="run_rviz" default="false"/>
    <group if="$(arg run_rviz)">
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find zadarlabs_arm_ros1)/config/ZadarLabs_rviz_config.rviz"/>
    </group>
</launch>
